<body>
  String interpolation<br>
  <h1>::title::</h1>
  ================================================<br>
  Property Binding<br>
  <input type='text' [placeholder]="name">
  <br>================================================<br>
  Event Binding<br>
  <button (click)="sayHello()"> Click Here </button>
  <br>================================================<br>
  Two-way Binding<br>
  <input [(ngModel)]="number" /><br>
  ::number::

  <br>================================================<br>
  Attribute Directive<br>

  <input type="radio" name="radio" [(ngModel)]="flag" [value]="true">Show Structural Directive
  <input type="radio" name="radio" [(ngModel)]="flag" [value]="false">Hide Structural Directive

  <br><br>
  <div *ngIf="flag==true">

    <div *ngFor="let nm of names">
      ::nm::
    </div>
  </div>

</body>